@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="box">
    <div id="sitio">
        Que opinas de esta combinacion ?
    </div>
    <div class="buttons">
        <div id=dk><i class="fa fa-thumbs-up"> Me gusta</i></div>
        <div id=lk><i class="fa fa-thumbs-down"> No me gusta</i></div>
    </div>
</div>
